.container {
	width: 30%;
	margin: 60px auto;
	margin-top: 100px;
	padding: 30px;
	background-color: white;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px
		rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
	z-index: -1;
}

.container + .container {
	margin-top: 60px
}

.left {
	width: 10%;
	float: left;
	position: fixed;
	z-index: 0;	
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px
		rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
	padding: 30px;
	margin-left: 20px;
	text-align: center;
}

.left > img {
	width: 100%; /* with 60% i need height 7.8 vw */
 	height: 10vw;  /* 13 for 3 items per row, 10 for 4 items per row */
	border-radius: 5px;
	margin: 0 auto;
	margin-bottom: 10px;
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px
		rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
}

.navbar {
	z-index: 1;
}

#current_name {
	font-size: 25px;
	font-weight: 400;
}

.left > button, form > input[type="submit"] {
	outline: none;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
    color: white;
    background-color: #6bc6a7;
    border-radius: 50px;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: 0;
    margin: 10px auto;
    transition: all 0.3s ease 0s;
}

.left a {
	text-decoration: none;
	color: white;
}

.left > button:hover, form > input[type="submit"]:hover {
    box-shadow: inset 0 0 0 3px #44826d;
}

#conn_num {
	font-size: 28px;
	font-weight: 200;
}

#conn_text {
	font-size: 15px;
	color: #656565;
}

textarea {
	box-sizing: border-box;
	width: 100%;
	height: 100px;
    word-wrap: break-word;
    border-radius: 10px;
    border: 1px solid #44826d;
    outline: none;
    resize: none;
    padding: 5px 10px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

form > button {
	outline: none;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
    color: #44826d;
	background-color: white;
    border-radius: 50px;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #44826d;
    transition: all 0.3s ease 0s;
    margin: 10px 0;
}

form > button > i {
	margin-right: 10px;
	font-size: 18px;
}

form > button:hover {
	color: #2e5a4c;
	box-shadow: inset 0 0 0 2px #44826d;
}

form > input[type="submit"]{
	float: right;
	font-size: 20px;
}

.pic {
	width: 3vw; /* with 60% i need height 7.8 vw */
 	height: 3vw;  /* 13 for 3 items per row, 10 for 4 items per row */
	border-radius: 5px;
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px
		rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
	margin-right: 10px;
}

.name {
	vertical-align: top;
	font-size: 25px;
}

.context {
	text-align: center;
}











