/* works only for chrome browser */

.container ::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.container ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
.container ::-webkit-scrollbar-thumb {
	border-radius: 10px;
    background: #6bc6a7; 
}

/* Handle on hover */
.container ::-webkit-scrollbar-thumb:hover {
    background: #44826d; 
}