.container {
	font-family: 'Work Sans', sans-serif;
    width: 50%;
    margin: 60px auto;
    margin-top: 50px;
    padding: 30px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
}

#first {
	margin-top: 150px;
}

input {
	 border: 0;
	 outline: 0;
	 border-radius: 10px;
	 padding: 7px;
	 padding-left: 15px;
	 margin-left: 20px;
	 vertical-align: middle;
	 font-size: 20px;
	 color: #44826d;
	 width: 253px;
	 background: rgba(161, 221, 221, 0.5);
}

input:focus::placeholder {
    color: #44826d;
}

label{
    font-size: 20px;
}

p {
	font-size: 20px;
}

button {
	outline: none;
	float: right;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1em;
    color: white;
    background-color: #6bc6a7;
    border-radius: 50px;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: 0;
    transition: all 0.3s ease 0s;
}

button:hover {
    box-shadow: inset 0 0 0 3px #44826d;
}

span {
	color: #8e0e1a;
}

#logout {
	display: block;
	margin: 0 auto;
	float: none;
	font-size: 1.2em;
}
